{% extends "base.html.twig" %}

{% block title %}Register - Mentis{% endblock %}

{% block body %}
<div class="auth-container">
    <div class="auth-header">
        <h1>🧠 Mentis</h1>
        <p>Create your account and start improving mental wellness</p>
    </div>

    <form method="post" novalidate>
        {{ form_row(registrationForm.firstname) }}
        {{ form_row(registrationForm.lastname) }}
        {{ form_row(registrationForm.phone) }}
        {{ form_row(registrationForm.dateofbirth) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.type) }}
        {{ form_row(registrationForm.plainPassword) }}

        {{ form_rest(registrationForm) }}
        <button type="submit" class="btn btn-primary mt-2">Register</button>
    </form>

    {% if registrationForm.vars.errors|length > 0 %}
        <div class="form-error mt-2">
            {% for error in registrationForm.vars.errors %}
                <p>{{ error.message }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <div class="auth-link">
        Already have an account? <a href="{{ path('app_login') }}">Login here</a>
    </div>
</div>
{% endblock %}
